@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

*
{
    margin: 0;
    padding: 0;
}
  
.no-underline {
  text-decoration: none;
  color: #00ff51;
  font-family: "Orbitron", sans-serif;

}

.apresentacao {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 40px;
  color: #ffffff;
  top: 10px;
}

body {
  background-color: #000000;
  color: #ffffff;
}

.fotos-curiosidades {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  margin-top: 45px;
}

.colecao {
  height: 200px;
  width: 200px;
  border-radius: 300px;
  border: #7904e7 solid;
  padding: 5px;
}

.cozinhando {
  height: 200px;
  width: 200px;
  border-radius: 300px;
  border: #7904e7 solid;
  padding: 5px;
}

.hamburguer {
  height: 200px;
  width: 200px;
  border-radius: 300px;
  border: #7904e7 solid;
  padding: 5px;
}

.lan {
  height: 200px;
  width: 200px;
  border-radius: 300px;
  border: #7904e7 solid;
  padding: 5px;
}

.cachorros {
  height: 200px;
  width: 200px;
  border-radius: 300px;
  border: #7904e7 solid;
  padding: 5px;
}

.comendo {
  height : 200px;
  width: 200px;
  border-radius: 300px;
  border: #7904e7 solid;
  padding: 5px;
}

.logo {
  height: 60px;
  width: 60px;
  border-radius: 300px;

}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 25px;
}

.links{
  display: flex;
  gap: 50px;
  flex-direction: row;
  padding: 15px;
  
}

main{
  display: flex;
  flex-direction: column;
  gap: 150px;
}

#inicio {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 25px;
  gap: 20px;
}

.minhafoto {
  background-color: #7904e7;
  border-radius: 300px;
}

.eu{
  width: 400px;
  height: 400px;
  position: relative;
  transform: scale(1.12);
}

.curiosidades {
  padding: 40px;
  background-color: #00ff51;
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.curiosidades h1 {
  font-family: "Orbitron", sans-serif;
  font-size: 40px;
}

.curiosidades p {
  font-family: "Exo 2", sans-serif;
  font-size: 30px;
}

#rodape{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 25px;
  margin-top: 150px;
}

.apresentacao h1 {
  font-size: 80px;
  color: #7904e7;
  font-family: "Orbitron", sans-serif;
}

.apresentacao p {
  font-size: 37.5px;
  font-family: "Exo 2", sans-serif;
  border-radius: 50px;
  border: #00ff51 solid;
  padding: 60px;
}

.lazer {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 30px;
  gap: 40px;
  font-family: "Exo 2", sans-serif;
}

.secao_hobbies {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#hobbies {
  display: flex;
  flex-direction: row;
  gap: 350px;
  padding: 50px;
}

.controle {
  height: 150px;
  width: 150px;
  border-radius: 300px;
}

.barra {
  display: flex;
  flex-direction: row;
}

.barra_verde_1 {
  height: 20px;
  width: 240px;
  background-color: #00ff51;
}

.barra_roxa_1 {
  height: 20px;
  width: 60px;
  background-color: #7904e7;
}

.exercicios {
  height: 150px;
  width: 150px;
  border-radius: 300px;
}

.barra_verde_2 {
  height: 20px;
  width: 210px;
  background-color: #00ff51;
}

.barra_roxa_2 {
  height: 20px;
  width: 90px;
  background-color: #7904e7;
}

.musica {
  height: 150px;
  width: 150px;
  border-radius: 300px;
}

.barra_verde_3 {
  height: 20px;
  width: 270px;
  background-color: #00ff51;
}

.barra_roxa_3 {
  height: 20px;
  width: 30px;
  background-color: #7904e7;
}

.hobbies_titulo {
  padding: 50px;
  color: #00ff51;
}

.hobbies_titulo h1 {
  font-size: 200px;
}

.hobbies_titulo h2 {
  font-size: 100px;
}